@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */

body{
  background-color: #E8F1F2;
  max-width: 1920px;
  margin: 0 auto;
  padding: 24px;
}

/* topnav */
.topnav{

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 240px;




	.topnav__heading{
		color: #001A23;
		font-size: 28px;
		font-weight: 600;
	}

	.topnav__container{
		display: flex;
		gap: 20px;
		.topnav__container__item{
			font-size: 18px;
			color:#001A23;
			border-radius: 12px;
		}
		.topnav__container__item--active{
			color:#001A23;
			font-weight: 600;
		}

	}
}

.main{
	
	margin-top: 80px;
	
	max-width: 1920px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: flex-start;
	gap: 120px;
	
	

	/* & >*{
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex: 1;
	} */

	.main__left{
	
	}
	.main__right{

		flex: auto;
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: left;
		justify-content: center;
	}

	.main__left__question-top{
		display: flex;
		align-items: center;
		gap: 15px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		background: rgba(255, 255, 255, 0.50);
		width: fit-content;
		border-radius: 12px;
		padding: 12px 24px;
		width: 100%;
	}
	.question-list-container{
		padding: 0 12px;
		
	}

}

.card-container{
	display: flex;
	flex-direction: row;
	
	gap: 24px;

	.card-container-1{
		display: flex;
		align-items: left;
		justify-content: center;
		flex-direction: column;
		gap: 12px;
	}

	.card-container__main{
		flex: 1;
		min-width: 200px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		background: #D5E8EA;

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		padding: 10px 20px;
		border-radius: 12px;
		height: 100px;


		justify-content: space-between;
		.card-container__main__h2{
			color: rgba(0, 26, 35, 0.70);
			-webkit-text-stroke-width: 1;
			-webkit-text-stroke-color: rgba(0, 0, 0, 0.05);
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: 24px; /* 75% */
			letter-spacing: -0.64px;
		}
		.card-container__main__p{
			color: #001A23;
			-webkit-text-stroke-width: 1;
			-webkit-text-stroke-color: rgba(0, 0, 0, 0.05);
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 120% */
			letter-spacing: -0.4px;
		}
	}
}

/* charts */

.barchartDefault{
	border: 1px solid red;
	width:800px;
	height: 470px;
	border-radius: 12px;
	border: 1px solid rgba(0, 26, 35, 0.123);
    background-color: rgba(255, 255, 255, 0.486);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 20px;

	& canvas{
		width: 100%;
		height: 100%;
	}
}


.barchart{
	border: 1px solid red;
	width:750px;
	height: 450px;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid rgba(0, 26, 35, 0.123);
    background-color: rgba(255, 255, 255, 0.486);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	& canvas{
		width: 100%;
		height: 100%;
	}
}


.pieChart{

	border: 1px solid red;
	width:850px;
	height: 800px;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid rgba(0, 26, 35, 0.123);
    background-color: rgba(255, 255, 255, 0.486);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	& canvas{
		width: 100%;
		height: 100%;
	}
}

/* charts */
.polarAreaChart{
	border: 1px solid red;
	width:650px;
	height: 450px;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid rgba(0, 26, 35, 0.123);
    background-color: rgba(255, 255, 255, 0.486);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	& canvas{
		width: 100%;
		height: 100%;
	}
}

.question-list-container{
	
	display: flex;
	flex-direction: column;

	gap: 20px;
	min-height: 200px;
	overflow: hidden;
	.btn{
		
		border-radius: 8px;
		
		color: #0c0c0c9b;
		font-weight: 500;

		&:hover{
			color: #001A23;
			font-weight: 500;
		}
	}

	.btn--active{
			color: #001A23;
			font-weight: 500;
		}
}

.question-list-container{

	max-height: 600px;
	overflow-y: auto;
}

.data-overview{
	display: flex;
	align-items: center;
	justify-content: space-between;

	h2{
		color: #001A23;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px; /* 53.333% */
		letter-spacing: -0.9px;
	}
	p{
		color: #001A23;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 120% */
		letter-spacing: -0.4px;
	}
}

.btn-question-item{
	display: flex;
	align-items: flex-start;
	gap: 8px;
	line-height:22px;
}

.img-opacity-0{
	opacity: .7;
}

.card-img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
}

.main__right_charts{
	
	display: flex;
	gap: 24px;
}

.main__right_charts__item{
	border-radius: 12px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background: rgba(255, 255, 255, 0.50);
}

.main__right_charts__item--primary{
	flex: 3.2;
	padding: 24px;
}
.main__right_charts__item--language{
	flex: 1;
	padding: 12px;
}

.main-test{


	.main__left{
		flex: 1.06;
	}
	.main__right{
		flex: 4;
	}
}